	.cke_toolbox {
		float:right;
	}
	.cke_bottom {
		display:none;
	}
	.cke_top {
		border-bottom: none;
	}
	.cke_editable
	{
		font-size: 35px;
	}
	.text-editor {
		max-width: 60%;
		margin: 0 auto;
	}