.cke_toolbox {
	float:right;
}
.cke_bottom {
	display:none;
}
.cke_top {
	border-bottom: none;
}
.cke_editable
{
	height: 212px;
	overflow-y: scroll;
}
.content-editor {
	width: 400px;
	height: 240px;
	position: relative;
	margin: 0 auto;
}
.text-editor {
	height: 270px;
}
.make-image-or-text {
  position: absolute;
  top: 12px;
  right: 170px;
}

.cke_editable > p {
	margin: 0;
}

.size-1 .cke_contents p {
	font-size: 45px;
}

.size-2 .cke_contents p {
	font-size: 35px;
}

.size-3 .cke_contents p{
	font-size: 30px;
}

.size-4 .cke_contents p {
	font-size: 25px;
}
.size-4 .cke_contents p {
	font-size: 20px;
}